/* CSS declarations go here */
body{
	margin-top: 60px;
}
.first-row{
	margin-top: 40px;
}

.fa-trash{
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	margin-right: 10px;
	color: black;

}
.course-list{
	margin-bottom: 20px;
}